.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {	
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
body{
	margin: 0;
	padding: 0;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Apercu";
  src: url("type/apercu-webfont.eot");
  src: local("☺"),
    url("type/apercu-webfont.woff") format("woff"),
    url("type/apercu-webfont.otf") format("opentype"),
    url("type/apercu-webfont.svg#apercu-webfont") format("svg");
  }
@font-face {
  font-family: "TisaPro";
  src: url("type/tisapro-regular-webfont.eot");
  src: local("☺"),
    url("type/tisapro-regular-webfont.woff") format("woff"),
    url("type/tisapro-regular-webfont.otf") format("opentype"),
    url("type/tisapro-regular-webfont.svg#tisapro-regular-webfont") format("svg");
  }
::selection {
  background: #5a2bf1;
  color: black;
  text-shadow: none;
}
::-moz-selection {
  background: #5a2bf1;
  color: black;
  text-shadow: none;
}
.logoImg{
  float: left;
  width: 76px;
  height: 49px;
  left: 50%;
  margin-left: -42px;
  position: relative; 
}
#logoDiv{
  float:left;
  position:absolute;
  width:100%;
  height:40px;
  text-align:center;
}
#header {
  margin-right: auto;
    margin-left: auto;
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 11;
    padding: 12px 0 12px 0;
    box-shadow: 0px 1px 0px #f3f3f3;
}
#close {
  background-image: url(../img/close.svg);
  width: 40px;
  height: 40px;
  right:0;
  margin: 115px 40px;
  position: fixed;
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
}
#close:hover {
  background-image: url(../img/closehov.svg);
}
.showcase {
  margin-top: 75px;
  background-color: #fff;
  padding: 100px 7% 50px 7%;
}
.wrap {
  max-width: 960px;
  margin: 0 auto;
}
h1 {
  font-family: Apercu;
  font-size: 50px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -1px;
  color: #000;
}
.info {
  padding: 0 7% 0 7%;
}
h2 {
  font-family: Apercu;
  font-size: 26px;
  text-transform: uppercase;
}
.col h3 {
  font-family: Apercu;
  font-size: 22px;
  font-weight: 400;
  margin-top: 28px;
}
.col p {
  font-family: TisaPro;
  font-size: 18px;
  font-weight: 200;
  color: #999;
  line-height: 1.6em;
  margin-top: 65px;
  }